html {
    height: 100%
}
/* Navbar */
#navbar {
    display: grid;
    grid-template-columns: 50px 50px 1fr 50px 50px 50px 50px;
    grid-template-rows: 50px;
    grid-template-areas:
     "about store . gmail image menu sign-in";
}

a, p {
    text-decoration: none;
    color: #212121;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
a:hover {
    text-decoration: underline;
}
#about {
    grid-area: about;
    justify-self: center;
    align-self: center;
}
#store {
    grid-area: store;
    justify-self: center;
    align-self: center;
}
#gmail {
    grid-area: gmail;
    justify-self: center;
    align-self: center;
}
#images {
    grid-area: image;
    justify-self: center;
    align-self: center;
}

#menu {
    grid-area: menu;
    justify-self: center;
    align-self: center;
}
#sign-in {
    grid-area: sign-in;
    justify-self: center;
    align-self: center;
}
/* Main */
#main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 70px 70px 200px;
    grid-template-areas:
    ". logo . "
    ". search ."
    ". flexbox ."
    ". offered-in .";
}

#logo {
    justify-self: center;
    align-self: end;
    grid-area: logo;
}
#search{
    height: 35px;
    grid-area: search;
    align-self: center;
    width: 85%;
    justify-self: center;
    border:1px solid #e4e4e4;
    border-radius: 25px;
}
#search:focus{
    outline: none;
}
#search:hover{
    box-shadow: 0 1px 1px rgba(.1,.2,.2,.3);
}
#flexbox {
    display: flexbox;
    grid-area: flexbox;
    align-self: center;
    justify-self: center;
    
}
#search-btn {
    padding: 10px;
    margin: 10px;
    border: 0px;
    position: relative;
    border: 1px solid #f2f2f2;
    color: #5f6368;
    border-radius: 5px;

}
#search-btn:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #c6c6c6;
    color: #222;
    
}
#lucky-btn {
    padding: 10px;
    margin: 10px;
    border: 0px;
    border: 1px solid #f2f2f2;
    color: #5f6368;
    border-radius: 5px;

    
}
#lucky-btn:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #c6c6c6;
    color: #222;
}
#offered-in {
    grid-area: offered-in;
    justify-self: center;
    
}
/* Footer */
#location-tag {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 50px;
    grid-template-areas:
    "canada .";
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 4px;
    padding-left: 10px;
    background-color:#f2f2f2;
    border:1px solid #e4e4e4;
}
#canada {
    grid-area: canada; 
    align-self: center;
    justify-self: center;
    color: rgba(0,0,0,.54);
    padding-bottom: 10px;

}
#footer {
    display: grid;
    grid-template-columns: 100px 80px 125px 1fr 70px 70px 70px;
    grid-template-rows: 50px;
    grid-template-areas: 
    "advertising business how-search-works . privacy terms settings";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-right: 10px;
    padding-left: 10px;
    background-color:#f2f2f2;
    border:1px solid #e4e4e4;
}
#advertising {
    grid-area: advertising; 
    align-self: center;
    justify-self: center;
    color: #5f6368;
}
#business {
    grid-area: business; 
    align-self: center;
    justify-self: center;
    color: #5f6368;
}
#how-search-works {
    grid-area: how-search-works; 
    align-self: center;
    justify-self: center;
    color: #5f6368;
}
#privacy {
    grid-area: privacy; 
    align-self: center;
    justify-self: center;
    color: #5f6368;
}
#terms {
    grid-area: terms; 
    align-self: center;
    justify-self: center;
    color: #5f6368;
}
#settings {
    grid-area: settings; 
    align-self: center;
    justify-self: center;
    color: #5f6368;
}